<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
<script type="text/javascript" src="../static/js/index.js">
</script>
<div id="banner-div">
    <pre id="banner">
  ___  _                 _    ___  ___
 / _ \| |               | |   |  \/  |
/ /_\ \ |__   ___  _   _| |_  | .  . | ___
|  _  | '_ \ / _ \| | | | __| | |\/| |/ _ \
| | | | |_) | (_) | |_| | |_  | |  | |  __/
\_| |_/_.__/ \___/ \__,_|\__| \_|  |_/\___|


</pre>
</div>
<div id="console"></div>
</body>
</html>