<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
    <title>pivemind</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
  </head>
  <body>
    <script type="text/javascript" src="../static/js/index.js">
    </script>
    <div id="banner-div">
    <pre id="banner">

      <span style="color: green">    .~~.   .~~.
         '. \ ' ' / .'</span>
      <span style="color: red">    .~ .~~~..~.   </span>           ______ _                     _           _
      <span style="color: red">   : .~.'~'.~. :   </span>          | ___ (_)                   (_)         | |
      <span style="color: red">  ~ (   ) (   ) ~  </span>          | |_/ /___   _____ _ __ ___  _ _ __   __| |
      <span style="color: red"> ( : '~'.~.'~' : ) </span>          |  __/| \ \ / / _ \ '_ ` _ \| | '_ \ / _` |
      <span style="color: red">  ~ .~ (   ) ~. ~  </span>          | |   | |\ V /  __/ | | | | | | | | | (_| |
      <span style="color: red">   (  : '~' :  )   </span>          \_|   |_| \_/ \___|_| |_| |_|_|_| |_|\__,_|
      <span style="color: red">    '~ .~~~. ~'</span>
      <span style="color: red">        '~'</span>







</pre></div>
    <div id="console"></div>
  </body>
</html>