<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>projects</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
<script type="text/javascript" src="../static/js/index.js">
</script>
<div id="banner-div">
    <pre id="banner">
___  ___       ______          _           _
|  \/  |       | ___ \        (_)         | |
| .  . |_   _  | |_/ / __ ___  _  ___  ___| |_ ___
| |\/| | | | | |  __/ '__/ _ \| |/ _ \/ __| __/ __|
| |  | | |_| | | |  | | | (_) | |  __/ (__| |_\__ \
\_|  |_/\__, | \_|  |_|  \___/| |\___|\___|\__|___/
         __/ |               _/ |
        |___/               |__/
</pre>
</div>
<div id="console"></div>
</body>
</html>